
// font-family: 'DM Sans', sans-serif;
// font-family: 'Inter', sans-serif;

// FONTS
$font-main: 'Gilroy', sans-serif;
$font-third: 'Inter', sans-serif;
$font-second: 'DM Sans', sans-serif;

// COLORS
$color-main: #1E1E1E;
$color-blue: #0D1B39;
$color-white: #FFFFFF;
$color-orange: #E58411;
$color-bg: #FFFFFF;

